
    .section-box {
      transition: transform 0.3s;
      cursor: pointer;
    }
    .section-box:hover {
      transform: scale(1.02);
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    .section-img {
      height: 250px;
      object-fit: cover;
    }
  .body{
    background-color: aquamarine;
  }